<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
    <div class="container-fluid">
        <h5>Your profile info</h5>
        <ul class="list-group px-2">
            <li th:text="'Email: ' +${user.getEmail()}"></li>
            <li th:text="'Name: ' +${user.getName()}"></li>
            <li th:text="'Surname: ' +${user.getSurname()}"></li>
            <li th:text="'Role: ' +${user.getRole()}"></li>
        </ul>
        <a href="/users/editCurrent" class="btn btn-primary">Edit profile</a>
    </div>
</main>
<footer th:insert="blocks/footer :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>