<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
<!--                <div class="container">-->
                    <a class="navbar-brand" href="/pizza">
                        <img src="/img/logo.png" alt="" width="50">
                        Mega Pizza
                    </a>
<!--                </div>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a sec:authorize="hasRole('ADMIN')" class="nav-link active" href="/pizza/new">Add pizza</a>
                        <a sec:authorize="hasRole('ADMIN')" class="nav-link active" href="/admin">Edit users</a>
                        <a sec:authorize="hasAnyRole('ADMIN', 'USER')" class="nav-link active" href="/cart">Cart</a>
                        <a sec:authorize="hasAnyRole('ADMIN', 'USER')" class="nav-link active" href="/orders">View
                            orders</a>
                        <a sec:authorize="hasAnyRole('ADMIN', 'USER')" class="nav-link active" href="/users/profile">Profile</a>
                        <a sec:authorize="!isAuthenticated()" class="nav-link active" href="/users/registration">Registration</a>
                        <a sec:authorize="!isAuthenticated()" class="nav-link active" href="/users/login">Login</a>
                        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="POST"
                              class="nav-link active">
                            <input class="border-0 bg-dark text-light" type="submit" value="Logout">
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <hr/>
    </div>
</div>